<div class="container darker sent">
    <span class="username">Darealfoxcat (You)</span>
    <p>Hey! I'm fine. Thanks for asking!fdhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
    <span class="time-left">11:01</span>
</div>
