<link rel="stylesheet" href="/css/chatpage.css" type="text/css" media="screen" title="no title" charset="utf-8">

<div class="chat-box" id="scrollable">
  <div class="container lighter recieved">
    <span class="username">User123</span>
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>
</div>


<%- include("components/chatpage-input.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<script src="/js/chatpage-interface.js"></script>

